invoke-soap-WhiteTest-DS/src/main/resources/wsdl/whiteTest.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.tekup.de/models/whitetest/models" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tekup.de/whitetest" targetNamespace="http://www.tekup.de/whitetest">
<wsdl:types>
<xsd:schema xmlns:tns="http://www.tekup.de/models/whitetest/models" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tekup.de/models/whitetest/models">
<xsd:element name="StudentRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="studentId" type="xsd:int"/>
<xsd:element name="examCode" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ExamsRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="number" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WhiteTestResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="student" type="tns:Student"/>
<xsd:element name="exam" type="tns:Exam"/>
<xsd:element name="date" type="xsd:dateTime"/>
<xsd:element maxOccurs="unbounded" name="badRequests" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ExamsDisponibleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="number" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" name="exams" type="tns:Exam"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Student">
<xsd:sequence>
<xsd:element name="id" type="xsd:int"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="address" type="tns:Adress"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Exam">
<xsd:sequence>
<xsd:element name="code" type="xsd:string"/>
<xsd:element name="name" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Adress">
<xsd:sequence>
<xsd:element name="street" type="xsd:string"/>
<xsd:element name="city" type="xsd:string"/>
<xsd:element name="poste-code" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ExamsRequest">
<wsdl:part element="sch:ExamsRequest" name="ExamsRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WhiteTestResponse">
<wsdl:part element="sch:WhiteTestResponse" name="WhiteTestResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ExamsDisponibleResponse">
<wsdl:part element="sch:ExamsDisponibleResponse" name="ExamsDisponibleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="StudentRequest">
<wsdl:part element="sch:StudentRequest" name="StudentRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="whitetestindicator">
<wsdl:operation name="Exams">
<wsdl:input message="tns:ExamsRequest" name="ExamsRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="WhiteTest">
<wsdl:output message="tns:WhiteTestResponse" name="WhiteTestResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="ExamsDisponible">
<wsdl:output message="tns:ExamsDisponibleResponse" name="ExamsDisponibleResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="Student">
<wsdl:input message="tns:StudentRequest" name="StudentRequest"> </wsdl:input>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="whitetestindicatorSoap11" type="tns:whitetestindicator">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Exams">
<soap:operation soapAction=""/>
<wsdl:input name="ExamsRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="WhiteTest">
<soap:operation soapAction=""/>
<wsdl:output name="WhiteTestResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ExamsDisponible">
<soap:operation soapAction=""/>
<wsdl:output name="ExamsDisponibleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Student">
<soap:operation soapAction=""/>
<wsdl:input name="StudentRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="whitetestindicatorService">
<wsdl:port binding="tns:whitetestindicatorSoap11" name="whitetestindicatorSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>